<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Goliath</string>
		<key>location</key>
		<string>{48.185977,11,620038}</string>
		<key>type</key>
		<string>1</string>
		<key>subtitle</key>
		<string>Intensity: 8/10</string>
	</dict>
</array>
</plist>